@import "../vars";
@import "../template";

.main {
    display: grid;
    grid-template-rows: max-content 2fr;
    grid-template-columns: max-content 50%;
    width: 100vw;

    .main__img {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
    }
    
    .main__about {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
        font-family: $font-h;
        justify-self: center;
        align-self: center;
    }
}



.aside {
    grid-row: 2/3;
    display: flex;
    justify-content: space-around;

    .aside__press {
        border: 1px solid black;
        
    }
    
    .aside__traditions {
        border: 1px solid black;
        
    }
    
    .aside__good {
        border: 1px solid black;
        
    }
}
