@import "../vars";
@import "../template";
@import "../footer-style/footer-style.scss";
@import "../header-style/header-style.scss";
.main {
    margin: 0 5% 0 5%;
    font-family: $font-t;
    .main__head__title{
        font-family: $font-h;
        height: 20vh;
    
}
}
.main * {
    display: flex;
    justify-content: center;
    flex-direction: row;
    @media screen  and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        max-width: 100%;}
        @media screen  and (max-width: 1025px) {
            height: 100%;
            flex-direction: column;
            max-width: 100%;
        }
    }   
.main>div {
    display: flex;
    flex-direction: row;
    height: 50vh;
    padding-bottom: 1%;
    @media screen  and (max-width: 480px) {
        height: 100%;
        flex-direction: column;
        max-width: 100%;}
        @media screen  and (max-width: 1025px) {
            height: 100%;
            flex-direction: column;
            max-width: 100%;
        }  
    }
.main__text {
    display: flex;
    flex-direction: column;
    padding: 0 3% 0 3%;
    justify-content: center;
    align-items: center;
    @media screen  and (max-width: 480px) {
        height: 40%;
        flex-direction: column;
        max-width: 480px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
}
p {
    font-size: 20px;
    @media screen  and (max-width: 480px) {
        font-size: medium;
        max-width: 100%;
        padding-right: 0;

    }
}
h2 {
    font-size: 30px;
    font-family: $font-h;
    padding-bottom: 3%;
    @media screen  and (max-width: 480px) {
        font-size: large;
        max-width: 100%;

    }
}
h1 {
    font-size: 50px;
    font-family: $font-h;
    color: $color-g;
    @media screen  and (max-width: 480px) {
        font-size: x-large;
        max-width: 100%;}
        @media screen  and (max-width: 1025px) {
            font-size: 40px;
        }
    }
.main__area__img, 
.main__language__img,
.main__religion__img,
.main__life__img,
.main__clothes__img,
.main__hospitality__img,
.main__holidays__img {
    border: 3px red solid;
}

