@import "../vars";
@import "../template";
.footer {
  bottom: 0;
  padding: 55px 50px;
  margin-top: 80px;
  background-color: $color-s;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer .footer-left {
  width: 40%;
}
.footer h3 {
  color: $color-w;
  font: normal 1rem $font-h, cursive;
  margin: 0;
}
.footer h2 {
  color: $color-r;
}
.footer .footer-links {
  color: $color-w;
  margin: 1rem 0 12px;
  padding: 0;
}
.footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer .footer-company-name {
  color: grey;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  @media screen and (max-width: 880px) {
    display: none;
  }
}
.footer .footer-center {
  width: 35%;
}
.footer .footer-center i {
  background-color: $color-s;
  color: color-w;
  font-size: 1rem;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer .footer-center p {
  display: inline-block;
  color: $color-w;
  vertical-align: middle;
  margin: 0;
}
.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer .footer-center p a {
  color: $color-r;
  text-decoration: none;
}
.footer .footer-right {
  width: 20%;
}
.footer .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0;
}
.footer .footer-company-about span {
  display: block;
  color: $color-w;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2%;
}
.footer .footer-icons {
  margin-top: 25px;
}
.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: $color-w;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
@media screen and (max-width: 880px) {
  .footer {
    font: bold 14px sans-serif;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
  @media screen and (max-width: 480px) {
    .footer {
      font: normal 15px sans-serif;
    }
  }
  .footer .footer-left,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 0.5%;
    text-align: center;
  }
  .footer .footer-center i {
    display: none;
  }
}
